body {
  margin: 0;
  font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

header {
  background: #404040;
  padding: 2px;
  color: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

header h3 {
  color: white;
  font-weight: 400;
}

.header-heading {
  width: 70%;
}

.header-link {
  /* width: 30%;
  color: white;
  align-items: flex-end;
  padding-left: 800px;
  padding-top: 20px; */
  display: flex;
  align-items: baseline;
}

.header-link a {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
  margin: 10px 15px 5px;
  border-radius: 16px;
  display: inline-block;
  /* margin-left: 10%;
  margin-top: 50px; */
} 

#app-title{
  margin-left: 10px;
}

#last-header-link {
  margin-left: -4px;
}
a.nav-button {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 0 0 10px;
  background-color: rgb(192, 240, 230);
  padding: 2px 2px;
  text-decoration: none;
  display: inline-block;
  color: black;
  transition: all 0.3s ease-in-out;
}

a.nav-button:hover {
  background-color: teal;
  color: white;
}

a.nav-button2 {
  border-radius: 0 10px 10px 0;
  background-color: rgb(96, 96, 96);
  color: ghostwhite;
  padding: 3px 3px;
  transition: all 0.3s ease-in-out;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  padding: 0.5em 0.5em;
  font-size: 0.8em;
}

.signup-container {
  display: flex;
  width: 70%;
  height: 70%;
  align-self: center;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 2px 3px #e6e1e1;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  color: white;
}

.welcome-section h1 {
  font-size: 40px;
}

.homepage-container {
  display: flex;
  position: absolute;
  background-color: rgb(192, 240, 230);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.sidebar {
    padding-top: 50px;
    position: relative;
    height: 100%;
    width: 13rem;
    z-index: 3;
    background-color: #404040;
    transition: 0.5s;
    font-size: 36px;
}

.sidebar a {
  color: #f1f1f1;
  text-decoration: none;
  font-family: system-ui;
  font-size: 1.5rem;
  margin-left: 0;
  padding: 1rem;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 0.3s;
}

.homepage-image-section {
  flex: 1;
  align-items: center;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-text-section {
  flex: 1;
  position: relative;
  color: #404040;
  text-align: center;
  background: #fff;
}

.image-section {
  width: 50%;
  height: 100%;
  background-color: rgb(192, 240, 230);
  border-radius: 10px 0 0 10px;
  align-items: center;
  position: relative;
}

.image-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-section {
  display: flex;
  width: 50%;
  background-color: #404040;
  border-radius: 0px 10px 10px 0;
}

.auth-form {
  width: 80%;
  margin: 2em auto;
  color: ghostwhite;
}

.form-group {
  width: 100%;
  display: block;
  font-size: 0.9em;
  margin: 1em 0;
}

form {
  width: 100%;
}

label {
  color: rgba(255, 255, 255, 0.623);
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.form {
  margin-top: 30px;
}

.form-control {
  border: none;
  padding: 0.9em 0;
  width: 100%;
  font-size: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: ghostwhite;
  background: inherit;
  outline: none;
  font-weight: 300;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

h2,
h3 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.form-button {
  border-radius: 16px;
  background-color: rgb(192, 240, 230);
  color: #404040;
  padding: 8px 25px;
  margin-top: 10px;
  border: none;
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.form-button:hover {
  background-color: teal;
  color: white;
}

.align-center {
  text-align: center;
  color: #404040;
}

.margin-top {
  margin-top: 40px;
}

.error-message {
  color: rgb(212, 113, 113);
  font-size: 11px;
}

.server-error-message {
  color: rgb(212, 113, 113);
  font-size: 15px;
}

.button {
  background-color: rgb(22, 139, 116);
  align-self: center;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 20px 20px;
}
